<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-chip-list #chipList>
      <mat-chip class="chip" *ngFor="let option of searchOptions" (removed)="removeOption(option)">
        <span>{{option.title}}</span>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Enter title" aria-label="Number" matInput [formControl]="myControl" #autocompleteInput type="text" [matAutocomplete]="auto" [matChipInputFor]="chipList">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event)">
          {{option.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>
</form>